<div class="card">
    <div class="card-image">
        
        <ng-content></ng-content>

        <a (click)="deletar()" class="btn-floating btn-large halfway-fab waves-effect waves-light red">
                <i class="material-icons">delete</i>
        </a>
        
    </div>
    <div class="card-content center-align">
        <span class="card-title">{{foto.titulo}}</span>
    </div>
</div>