<header class="card-panel lime darken-1">
    <h1 class="center-align">CaelumPic</h1>
</header>
<main class="container">
    <div *ngIf="message" class="row">
        <div class="col m12">
            <div class="card green darken-1" style="margin: 0px; height: 35px">
                <div class="card-content white-text" style="padding: 3px 20px;">
                    <span class="card-title">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m2">
            <a routerLink="/cadastro" class="btn">Nova foto</a>
        </div>
        <div class="col m10">
                <input (keyup)="0" #inputSearch name="search"  id="search" type="text" class="validate">
        </div>
    </div>
    <div class="row">
        <card class="col m3" [foto]='foto' [fotos]="listaFotos" (updatedFotos)="fotosChange($event)" 
        *ngFor="let foto of listaFotos | filtroPorTitulo:inputSearch.value">

            <foto _id={{foto._id}} url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>

        </card>
    </div>
</main>